body{
  font-family: 'Cormorant Garamond', serif; background-color: #ffad8a; color:#5e5c63; margin: 0; padding: 0; outline: 0; border: 0;
}
table { width:90%; margin:0 auto; }
td { vertical-align:top; width:30%; }
th { font-size:28px; }
h1{
  text-align: center; border: 20px;
}

a{
  text-decoration: none; color: #f4c6b1;
}

.sidebar{
  background-color: #5e5c63; color: #f4c6b1; font-size: 20; width: 20%; height: 100%;  float: left; display: inline-block; position:fixed;
}

.container{
  background-color: #f4c6b1; color:#5e5c63; height: 100%; width: 80%; float: right; display: inline-block; overflow: auto;
}

.intro, .loginBox, .toPost{
  background-color: #ece3db; margin: 5%; padding: 1; width: 90%; height: auto; border-radius: 25px;
}

.toPost{
  margin-top: 10; background-color: #ece3db;
}

input[type=textBox]{
  margin-left: 10; padding: 20; margin:10; height: 50;
}

input[type=text]{
  border: none; border-bottom: 2px solid #5e5c63; background-color: #ece3db; font-family: 'Cormorant Garamond', serif; outline-width: 0; color: #5e5c63; padding: 5px;
}

input[name=password]{
  -webkit-text-security: disc;
}


form{
  margin-left: 40%; margin-right: auto; margin-top: 50px; padding-left: auto;
}

.button, .button2, .button3{
   -webkit-transition-duration: 0.4s; transition-duration: 0.4s; margin-top: 20px; outline-width: 0; background-color: #ece3db; border: 1px solid #5e5c63; font-family: 'Cormorant Garamond', serif;  font-size: 16; border-radius: 5px;
}
.button:hover, .button2:hover, .button3:hover{
  background-color: #f4c6b1; color: #ece3db;; border-color: #f4c6b1;
}
.button, .button2, .button3{
  background-color: #5e5c63; border: 1px solid #5e5c63; font-family: 'Cormorant Garamond', serif;  font-size: 16; border-radius: 5px; padding: 5px;
}

.button2{
  margin-top:5; display: inline-block;
}

.button3{
  margin-left: 88%; margin-right: 20; display: inline-block;
}

h1{
  display: inline-block;
}
h2, h3{
  text-align: center;
}
h2{
  font-size: 35;
}

h3{
  margin: 0; font-size: 30;
}

.nextAndPrev{
  position: auto; bottom: 20px; width: 100%; margin-top:20; height: 20px;
}

.nextPage{
    margin-left: 85%; margin-bottom: 0;
}

.backPage{
  margin-right: 80%; margin-left: 5%; margin-bottom: 20;
}

.columnLeftLost{
   margin-top: 2%; margin-left: 3%; margin-right: 5%;padding: 3px; width: 40%; float: left;
}

.columnRightFound{
  margin-top: 2%; margin-left: 5%; margin-right: 3%; padding: 3px; width: 40%; float: right;
}

img{
  width: 70%; height: auto; border-radius: 15px; display: block; margin-left: auto; margin-right: auto;  margin-top: 15%; margin-bottom: 10%;
}
.postBlock{
  background-color: #ece3db; display:inline-block; border-radius:25px; margin:10px 5px;
}
.postContent{
  text-align: left; display: block; margin-left: 10%; margin-right: auto;
  margin-top: 10px; margin-bottom: 15px;
}

.login {
  width:100%; height:40px; position:absolute; bottom:10px; text-align:center;
}

.login a {
  margin:5px; text-decoration:none; color:#f4c6b1; display:inline-block;
}

nav{
  height: 50%;
}

p{
  margin: 15px;
}

.dropdownMenu, .theDropContent{
      border: none; text-decoration: none; color: #f4c6b1; height: 10px; width: 100%; margin:0; text-align: left; display: block;
}

.theDropContent a{
  border: none; text-decoration: none; color: #f4c6b1; height: 10px; width: 100%; margin:0; text-align: left; display: block;
}
.theDropContent a:hover{
  background-color: #9999;
}

.dropButton { margin-bottom:-25px;background:#5e5c63; color:#ece3db; width:100%; height:auto; border:none; cursor:pointer; }
.dropButton h1 { padding:5px; }
.dropButton a { text-decoration:none; color:#fff; display:block; padding:5px 8px; border-bottom:1px solid #333; transition:0.3s all ease-in; }
.dropButton a:hover { background:#333; transition:0.3s all ease-in; }

#adopt, #lost, #found { margin-top:-22px; height:auto; width:100%; background:#5e5c63; display:none; }

.pettable { text-align:center; }
.pet { display:inline-block; margin:10px; float:left; }
